body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

nav{
background:#020617;
padding:20px;
}

.hero{
text-align:center;
padding:100px;
}

.project-card{
background:#1e293b;
margin:20px;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:scale(1.05);
}